.mainStory {
  display: flex;
  margin: 15px auto;

  .storyBorder {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;

    .storyProfile {
      display: flex;
      flex-direction: row;
      overflow: scroll;

      &::-webkit-scrollbar {
        background-color: white;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #efefef;
        border-radius: 20px;
        display: none;
      }

      &::-webkit-scrollbar-thumb:hover {
        display: block;
      }

      .storyProfileOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 10px;

        p {
          margin: 0;
          color: #8e8e8e;
        }

        .storyImg {
          border-radius: 100%;
          width: 60px;
          height: 60px;
          overflow: auto;
          border: 2px solid transparent;
          background-image: linear-gradient(#fff, #fff),
            linear-gradient(to right, red 0%, orange 100%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          cursor: pointer;
        }

        .storyProfileName {
          margin-top: 10px;
          width: 60px;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
