.mainPage {
  ul {
    list-style: none;
  }

  li {
    margin-left: 1rem;
    list-style: none;
  }

  div {
    li {
      width: 100%;
    }
  }

  div {
    button {
      cursor: pointer;
      font-weight: 600;
      outline: none;
      border: none;
      background: none;
      width: 5rem;
      color: #828282;
    }
  }

  .mainContent {
    margin-top: 6rem;
    justify-content: center;
  }
}