* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;

  :visited {
    text-decoration: none;
  }

  :hover {
    text-decoration: none;
  }

  :focus {
    text-decoration: none;
  }

  :hover,
  :active {
    text-decoration: none;
  }
}
