@mixin flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mainNav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: auto 40px;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  width: 100vw;
  height: 4rem;
  background-color: white;
  font-size: 25px;

  .mainNavLogo {
    cursor: pointer;

    .mainNavText {
      font-family: ‘Lobster’, cursive;
    }
  }

  .mainNavSearch {
    margin-left: 300px;

    i {
      position: absolute;
      margin: 0.5rem;
      padding-left: 0.5rem;
      font-size: 15px;
      color: #8E8E8E;
    }

    .navSearch {
      width: 17rem;
      height: 2rem;
      background-color: #EFEFEF;
      border-radius: 0.5rem;
      border-style: none;
      text-indent: 3em;

      ::placeholder {
        color: #C5C5C5;
        font-size: 15px;
      }
    }
  }

  .mainNavicon {
    @include flex-center;
    cursor: pointer;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin: auto 0.7rem;
    }
  }
}